body{
    background-color: orange;
 }
 .signup{
    padding-top: 20px;
    color: white;
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: bold;
 }
 .rectangle{
    height: 520px;
    width: 105%;
    background-color: black;
    margin-top: 17px;
    margin-left: -10px;
 }
 .rectangle #form{
    font-size: 18px;
    padding-top: 55px;
    text-align: center;
    
 }
 p{
    color: yellow;
 }
 .button_t{
    background-color: rgb(31, 146, 31);
    color: white;
    border: none;
    width: 8%;
    height: 34px;
    margin-left: 82%;
    margin-top: 1%;
 }
 .button_c{
    background-color: rgb(224, 70, 23);
    color: white;
    border: none;
    width: 8%;
    height: 34px;
    margin-top: 1%;
 }